## .NET
bin/
obj/
out/

## Visual Studio / Rider
.vs/
.idea/
*.user
*.suo

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## Docker / env
.env
docker-compose.override.yml

## OS files
.DS_Store
Thumbs.db

## Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.vite/
